*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
figure,
picture,
body {
    margin: 0; 
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

:root {

/* Colors */
   
--clr-marineblue: 213 96% 18%;
--clr-purplishblue: 243 100% 62%;
--clr-pastelblue: 228 100% 84%;
--clr-lightblue: 206 94% 87%;
--clr-strawberryred: 354 84% 57%;


--clr-Coolgray: 231 11% 63%;
--clr-Lightgray: 229 24% 87%;
--clr-Magnolia: 217 100% 97%;
--clr-Alabaster: 231 100% 99%;
--clr-White: 0 0% 100%;

/* font-families */

--ff-sanserif: 'Ubuntu', sans-serif;
}

/* Utility Classes */

.flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.ff-sanserif {
    font-family: var(--ff-sanserif);
}

/* nav+form */
body {
    background-color: #EFF5FF;
    height: 100vh;
}
main {
    justify-content: center;
    align-items: center;
    height: 99.8vh;
   
}
#nav-form {
    width: 65.28vw;
    height: 74vh;
    max-width: 940px;
    max-height: 600px;
    padding: 1rem;
    background-color: #FFF;
    /* gap: 12.0% ; */
    justify-content: space-between;
    
}

@media only screen and (min-width: 45em) and (max-width: 75em) {
    #nav-form {
        
        gap: 5% ;
        
    }
}

@media only screen and (max-width: 35em) {
main {
    justify-content: start;
    align-items: flex-start;
}
header {
    background-image: url('assets/bg-sidebar-mobile.svg');
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    isolation: isolate;

}
#nav-form {
    width: 100vw;
    padding: 0;
    max-height:none;
    height: max-content;
    gap: 20px;
    flex-direction: column;
    background-color: #EFF5FF;
    }

ul {
    display: flex;
    justify-content: center;
}

li {
    margin-top: max(2rem,12%);
}

.nav-title,
.nav-steps {
    display: none;
}
}

/* header */
@media only screen and (min-width: 45em) {


header {
    background-image: url('assets/bg-sidebar-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding-left: max(2rem, 5vh);
    padding-right: min(30%, 90px);
    padding-top: max(6%,30px);

    min-width: 31.8%;
    
    border-radius: 10px;

}
}

 

ul{
    list-style-type: none;
    list-style: none;
    text-decoration: none;
}

li {
    margin-bottom: max(2rem,12%);
}

.link {
    text-decoration: none;
 }

.link > div {
    gap: 1rem;
}

.circular-button {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;  

    color: #fff;
  }

.nav-steps{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 14px;
    color: hsl(var(--clr-lightblue));
    margin-bottom: 4px;
    
  }

.nav-title {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 1px;
    color: #fff
  }

.link.active div .circular-button{
    background-color: #BEE2FD;
    color: #022959;
    border-color: #BEE2FD;
}
  
  /* forms */
  @media only screen and (min-width:35em) {
  .form-container {
   width: 49.8%;
   position: relative;
   margin-right: 7%;
    
   
   
    
}
  }


  /* step 1 */
.step1-form {
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
  }

.step1-form input {
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid hsl(var(--clr-Coolgray))

}

.step1-form input::placeholder{
    font-family: var(--ff-sanserif);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    padding-left: 1rem;
    color: hsl(var(--clr-Coolgray));

}

.form-container > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #022959;
    margin-top: 2.8rem;
}

.form-container > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #9699AA;
    margin-top: 11px;
    margin-bottom: 35px;
}

.next-step {
    /* margin-top: 52px; */

    width: 123px;
    height: 48px;
    background-color: hsl(var(--clr-marineblue));
    color: #FFF;
    border-radius: 8px;
    border: none;
    line-height: 18px;
    font-size: 1rem;
    font-weight: 500;
}

.next-step1 {
    margin-top: 40px;
}

.next-step:hover {
    background-color: hsl(var(--clr-lightblue));
    cursor: pointer;
}

.step1-label {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #022959;
}

input[type="text"] {
    font-family: var(--ff-sanserif);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    padding-left: 1rem;
    color:#022959;
    
}

.error {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #f7172d;
    position:absolute;
    right: 0;
}

#error1 {
    top: 0;
}

#error2 {
    top: 100px;
}

#error3 {
    top: 200px;
}

.hide {
    display: none;
}

@media only screen and (min-width: 45em) {
.step1-form input {
        width: max(450px, 31.25%);
        width: auto;
        height: 3rem;
    
}  
}

@media only screen and (max-width: 35em) {
.form-container {
    margin-inline: 1em;
    padding-inline: 1.5rem;
    padding-block: 2em;
    border-radius: 8px;
    background-color: #FFF;
    z-index: 1000;
    position: relative;
    top: -100px;
    }

.form-container > h1 {
    margin-top: 0;
}

.step1-form input {
    width: max(295px, 31.25%);
    height: 2.71rem;

}  
}


/* step 2 */
.plan-type-container {
    gap:1.125rem;
    width: 100%;
    min-width: 100%;
    
}
.plan-type-child {
    box-sizing: border-box;
    flex-direction: column;
    gap: 2.0rem;
    padding-top: 20px;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: clamp(1rem, 2.85rem, 2.85rem);
    border-radius: 10px;
    border: 2px solid hsl(var(--clr-Lightgray));
    max-height: 11rem;
    /* width: calc(12ch + 3rem) */
    min-width: fit-content;
    cursor: pointer;
    
}

@media only screen and (min-width: 35.01rem) and (max-width: 81rem){
    .plan-type-container {
        flex-direction: column;
        width: auto;
        height: auto;

    }

    .plan-type-child {
        flex-direction: row;
        max-height: 4rem;
        align-items: center;
        padding-block: 10px;
    }
}
.plan-type-child:hover {
    border: 2px solid hsl(var(--clr-purplishblue));
}

.selected {
    border: 2px solid hsl(var(--clr-purplishblue));
    background-color: #F8F9FF;
}


.plan-text-container h1{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color:#022959;
    margin-top: 0;
}

.plan-text-container p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9699AA;
    margin-top: 7px;
}

.free-months {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #022959;
    margin-top: 7px;
    
}

.duration-container {
    background-color: #F8F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}


#labelLeft,
#labelRight {
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    /* color: #022959;  */
    
}
.non-selectedLabel {
    color: #9699AA;
}
.selectedLabel {
    color: #022959;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media only screen and (min-width: 45em) {
  .forward-back-btn {
    position: absolute;
    width: 100%;
    bottom: 32px;
  }
}

  .btn-back {
    background: #FFF;
    background-image: -webkit-linear-gradient(top, #FFF, #FFF);
    background-image: -moz-linear-gradient(top, #FFF, #FFF);
    background-image: -ms-linear-gradient(top, #FFF, #FFF);
    background-image: -o-linear-gradient(top, #FFF, #FFF);
    background-image: linear-gradient(to bottom, #FFF, #FFF);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: none;
    color: #9699AA;
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: 500;
    /* padding: 10px 20px 10px 20px; */
    text-decoration: none;
    height: min-content;
    cursor: pointer;
  }

@media only screen and (max-width: 45em) {
    .plan-type-container{
        flex-direction: column;
        /* justify-content: center; */
        width: 100%;
        /* min-width: 280px; */
        max-width: none;
        
    }

    .plan-type-child {
        flex-direction: row;
        padding-inline: 1rem;
        padding-block: 0.9rem;
        align-items: center;
        /* max-height: 75px; */
        
    }

    .forward-back-btn {
        margin-top: 5.5rem;
      }
}

/* step 3 */
.add-on-container {
    flex-direction: column;
    gap: 0.75rem;
}

.add-on-child {
    border: 1px solid hsl(var(--clr-purplishblue));
    max-height: 11rem;
    border-radius: 8px;
    justify-content: space-between;
    padding: 0.78rem;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.checked{
    background: #F8F9FF;
}

.add-on-child-container {
    gap: 1rem;
}

.add-on-text-container {
    flex-direction: column;
    gap: 4px;
}
.add-on-text-container h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 16px;
    color: #022959;
}

.add-on-text-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 20px;
    color: #9699AA;
}

.add-on-fee {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 20px;
    color: #483EFF;
}

/* step 4 */
.summary-container {
    flex-direction: column;
    gap: 24px;
    
}
.top-summary-container {
    flex-direction: column;
    gap: 12px;
    background-color: #F8F9FF;
    padding: 1rem;
    position: relative;
    border-radius: 8px;;
}

.top-summary-container-child {
    justify-content: space-between;
    position: relative;
    
}

.line-break {
    width: 100%;
    border: 1px solid #9699AA;
    border-top: none;
}
.top-summary-text {
    flex-direction: column;
    gap: 3px;
    text-align: start;
}

.top-summary-text h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.0rem;
    line-height: 1rem;
    color: #022959;
}

.top-summary-text h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-decoration-line: underline;
    color: #9699AA;
}

.top-summary-cost {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25em;
    color: #022959;
}

.bottom-summary-text {
    justify-content: space-between;
    
}

.bottom-summary-text h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    color: #9699AA;
   
}

.bottom-summary-text h2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #022959;
}

.summary-cost {
    justify-content: space-between;
    padding-inline: 1rem;
}
.summary-cost h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    color: #9699AA;
}

.summary-cost h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    color: #483EFF;
}

/* Confirmation */

.confirmation-container {
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    width: 49.8%;
    position: relative;
}

.confirmation-text-container {
    flex-direction: column;
    gap: 1rem;
}

.confirmation-text-container h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 37px;
    text-align: center;
    color: #022959;

}

.confirmation-text-container p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
    color: #9699AA;
}


@media only screen and (min-width: 45em) {

.confirmation-container {
        /* margin-right: 6.5rem; */
        margin-right: 7%;
    }
}

@media only screen and (max-width: 45em) {

.confirmation-container {
    margin-inline: 1.5rem;
    margin-top: 5rem;
}
}
